/* You can add global styles to this file, and also import other style files */

@import '../node_modules/bulma/bulma.sass';

// global styles and changing bulma variables
// Import Google Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Lato:400,800,900');

$family-sans-serif: "Nunito", sans-serif;

// Update some of Bulma's component variables
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

/* GLOBAL STYLES */
html, body {
    height: 100%;
}

// Common styles
.align-right{
    text-align: right;
}

.w-100-p{
    width: 100%;
}

